.select-person-site, .select-list-site {
  #navbar-fragment + .grow {
    overflow: hidden;

    #main-content {
      max-height: 100%;
    }
  }

  #person-table, #list-table{
    input{
      margin: 0.1rem 0 0;
    }
  }
}